.editorSection {
  height: 100%;
  width: 100%;
}

.editorTitle {
  color: #f5f6f7;
}

.editor {
  padding: 10px;
  resize: vertical;
  font-size: 16px;
  height: 100%;
  background-color: #cfe5f7;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .editorSection {
    padding: 0 20px;
  }
}

// @media screen and (max-width: 450px) {
//   .editor {
//     width: 320px;
//   }
// }
// @media screen and (max-width: 400px) {
//   .editor {
//     width: 280px;
//   }
// }
